<div>
    <ul class="nav flex-column">
        {% if areas %}
            {% for a in areas %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'rango:goto' %}?page_name={{ a.slug }}">
                            <span data-feather="compass"></span>{{ a.name }}
                        </a>
                        <!-- to control grammer -->
                        {% if munro.views > 1 %}
                            ({{ munro.views }} views)
                        {% elif munro.views == 1 %}
                            ({{ munro.views }} view)
                        {% endif %}
                    </li>
            {% endfor %}
        {% else %}
            <li class="nav-item">There are no areas present.</li>
        {% endif %}
    </ul>
</div>