<div>
    <ul class="nav flex-column">
        {% if areas %}
            {% for a in areas %}
                {% if a == current_area %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'rango:show_area' a.slug %}">
                            <span data-feather="archive"></span>{{ a.name }}
                        </a>
                    </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'rango:show_area' a.slug %}">
                                <span data-feather="archive"></span>{{ a.name }}
                            </a>
                        </li>
                {% endif %}
            {% endfor %}
        {% else %}
            <li class="nav-item">There are no areas present.</li>
        {% endif %}
    </ul>
</div>