{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if area %}
        {{ area.name }}
    {% else %}
        Unknown Area
    {% endif %}
{% endblock %}

{% block body_block %}
    <div class ="pb-4" id="mydiv">
        <strong id="view_count">{{ area.views }}</strong> views
        <strong id="like_count">{{ area.likes }}</strong> likes
        {% if user.is_authenticated %}
            {% if userlikearea.has_liked %}
                <button id="unlike_btn_area"
                data-areaslug="{{ area.slug }}"
                data-username="{{ user.username }}"
                data-likeunlike="unlike"
                class="btn btn-danger btn-sm"
                type="button">
                <span data-feather="thumbs-down"></span>Unlike Area</button>          
            {% else %}
                <button id="like_btn_area"
                data-areaslug="{{ area.slug }}"
                data-username="{{ user.username }}"
                data-likeunlike="like"
                class="btn btn-primary btn-sm"
                type="button">
                <span data-feather="thumbs-up"></span>like Area</button> 
            {% endif %}
            
        {% endif %} 
    </div>
    

    {% if munros %}
    <ul>
        {% for munro in munros %} 
            <li><a href="{% url 'rango:goto' %}?page_name={{ munro.slug }}">{{ munro.name }}</a>
            </li>
        {% endfor %}
    </ul>
    {% else %} 
    <strong>No munros currently in area.</strong>
    {% endif %} 
{% endblock %} 