{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if area %}
        {{ area.name }}
    {% else %}
        Unknown Area
    {% endif %}
{% endblock %}

{% block body_block %}
    <div class ="pb-4">
        <strong id="view_count">{{ area.views }}</strong> views
        <strong id="like_count">{{ area.likes }}</strong> likes
        {% if user.is_authenticated %}
            <button id="like_btn"
            data-categoryid="{{ area.id }}"
            class="btn btn-primary btn-sm"
            type="button">
            <span data-feather="thumbs-up"></span>Like Area</button>
        {% endif %}
    </div>
    

    {% if munros %}
    <ul>
        {% for munro in munros %} 
        <li><a href="{% url 'rango:show_munro' munro.slug %}">{{ munro.name }}</a></li>
        {% endfor %}
    </ul>
    {% else %} 
    <strong>No munros currently in area.</strong>
    {% endif %} 
{% endblock %} 