<!DOCTYPE html>

{% load static %}
{% load rango_template_tags %}

<html>
        <title>
            Rango - 
            {% block title_block %}
                Generic Hillwalking App Name
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
        {% block body_block %}
        {% endblock %}
        </div>
        <div>
            {% block sidebar_block %}
              
            {% endblock %}
        </div>
        <hr />
        <div>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'auth_logout' %}?next={% url 'rango:index'%}">Logout</a></li>
                {% else %}
                <li><a href="{% url  'registration_register' %}">Sign Up</a></li>
                <li><a href="{% url 'auth_login' %}">Login</a></li>
                {% endif %}
                <li><a href="{% url 'rango:about' %}">About</a></li>
                <li><a href="{% url 'rango:index' %}">Index</a></li>
            </ul>
        </div>
    </body>

</html>