{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
    Homepage
{% endblock %}

{% block css %}  
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body_block %}
<h1>Discover your next perfect adventure!</h1>

    <div class="p-3">
        {% if user.is_authenticated %} 
            Hello {{ user.username}}! <br />
        {% endif %}
        <p class="card-text">Wherever you are in the Scottish highlands, we have you covered. Find your next hike today, browse our photo gallery for your daily fix of that
            sweet sweet highland scenery or find a buddy to hike with. The possibilities are endless with Rango. </p>
    </div>

    <section id="gallery">
        <div class="container p-2">
           <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="/static/images/skye.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">The Old Man of Storr</h5>
                            <p class="card-text">The 'Old Man' of Storr of Skye, one of the island's- and Scotland's- most recognisable and famous landmarks. 
                                                    The remnants of ancient landslips, now one of the most photographed natural formation within the British Isles.</p>
                            <!-- using anchor tag since only visual not real btn -->
                            <a href="" class="btn btn-outline-success btn-sm">Download</a>
                            <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="/static/images/ben_lomond1.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Ben Lomond</h5>
                            <p class="card-text">Ben Lomond- the most southerly of all the Munros. Easily accessible from Glasgow and relative ease of ascent of made it one of the most popular Munros to ascend.</p>
                            <!-- using anchor tag since only visual not real btn -->
                            <a href="" class="btn btn-outline-success btn-sm">Download</a>
                            <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img class="card-img-top" src="/static/images/benNevis.jpg" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Ben Nevis</h5>
                            <p class="card-text">At 1345 metres of elevation, Ben Nevis is the highest point in the entire of the UK, close to the twon of Fort William.</p>
                            <!-- using anchor tag since only visual not real btn -->
                            <a href="" class="btn btn-outline-success btn-sm">Download</a>
                            <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </section>

    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="card mb-6">
                    <div class="card-body">
                        <h2>Most Liked Areas</h2>
                        <p class="card-text">
                        {% if areas %}
                            <ul class="list-group">
                                {% for a in areas %}
                                    <li class="list-group-item"><a href="{% url 'rango:show_area' a.slug %}">{{ a.name }}</a></li class="list-group-item">
                                {% endfor %}
                            </ul>
                        {% else %}
                            <strong>There are no areas present.</strong>
                        {% endif %}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-6">
                    <div class="card-body">
                        <h2>Most Liked Munros</h2>
                        <p class="card-text">
                        {% if munros %}
                            <ul class="list-group">
                                {% for munro in munros %}
                                    <li class="list-group-item"><a href="{{munro.url}}">{{ munro.name }}</a></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <strong>There are no munros present.</strong>
                        {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}  
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}

