{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
<h1>Welcome!</h1>
<div> 
    <img src="{% static 'images/ben_macdui.jpeg'%}"
    alt = "Ben Lomond picture" />
</div>
    <div>
        {% if user.is_authenticated %} 
            Hello {{ user.username}}! <br />
            Welcome to Generic App Name.com
        {% else %}
        Hello!<br />
        Welcome to Generic App Name.com
        {% endif %}
    </div>
    <div>
    <h2>Most Liked Munros</h2>
    {% if munros %}
        <ul>
        {%for munro in munros%}
            <li>
                <a href="/rango/area/{{ area.slug }}/">{{ area.name }}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <strong>No Munros to display :(</strong>
    {% endif %}
    </div>
    <h2>Most Liked Photos</h2>
    {% if photos %}
        <ul>
        {%for photo in photos %} <!--dunno how this will work -->
            <li>
                <a href='{{ page.url }}'>{{ page.title }}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <strong>No photos to display :(</strong>
    {% endif %}
    </div>


{% endblock %}

