{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if munro %}
        {{ munro.name }}
    {% else %}
        Unknown Munro
    {% endif %}
{% endblock %}

{% block body_block %}
    <div class ="pb-4">
        <strong id="view_count">{{ munro.views }}</strong> views
        <strong id="like_count_munro">{{ munro.likes }}</strong> likes
        {% if user.is_authenticated %}
            {% if userlikemunro.has_liked %}
                <button id="unlike_btn_munro"
                data-munroslug="{{ munro.slug }}"
                data-username="{{ user.username }}"
                data-likeunlike="unlike"
                class="btn btn-danger btn-sm"
                type="button">
                <span data-feather="thumbs-down"></span>Unlike Munro</button>          
            {% else %}
                <button id="like_btn_munro"
                data-munroslug="{{ munro.slug }}"
                data-username="{{ user.username }}"
                data-likeunlike="like"
                class="btn btn-primary btn-sm"
                type="button">
                <span data-feather="thumbs-up"></span>like Munro</button> 
            {% endif %}
        {% endif %} 
    </div>
    
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="card mb-6">
                    <div class="card-body">
                        <h2>Description</h2>
                        <p class="card-text">
                            {{ munro.description }}  
                        </p>
                    </div>
                    <strong>
                Bagged it? Post a  <a href="/rango/post_report/">Hike Report </a>now!<br /> 
                </strong>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-6">
                    <div class="card-body">
                        <h2>Statistics</h2>
                        <p class="card-text">
                            {% if munro %}
                                <li>Elevation: {{ munro.elevation }}m </li>
                                <li>Duration: {{ munro.duration }}</li>
                                <li>Length: {{ munro.length }}km</li>
                                <li><a href="#explanation">Difficulty</a>: Level {{ munro.difficulty }}</li>
                                <li><a href="#map">Coordinates</a>: {{ munro.coordinates }}</li> 
                            {% else %}
                                Unknown Munro
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>            
        </div>
    </div>

    
    <section id="gallery">
        <div class="container p-2">
           <div class="row">
                {% if images %}
                    {% for image in images %} 
                        {% if image.munro == munro %}
                            <div class="col-lg-4 mb-4">
                                <div class="card">
                                    <img class="img-fluid img-thumbnail" src="/static/images/{{ image.name }}" alt="">
                                    <h5 class="card-title">{{image.title}}</h5>
                                    <p class="card-text">{{image.description}}</p>
                                </div>
                            </div>
                        {% endif %} 
                    {% endfor %}
                {% else %} 
                    <strong>No images currently in munro.</strong>
                {% endif %} 
           </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-6">
                    <div class="card-body" id="map">
                        <h2>Map</h2>
                        <p class="card-text">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d69913.5805281933!2d-5.071528499252209!3d56.79791289676395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x488932978af1e5f3%3A0x6e948b77ffad9a71!2sBen%20Nevis!5e0!3m2!1sen!2skr!4v1628144434805!5m2!1sen!2skr" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </p>
                    </div>
                </div>
            </div>

            
            <div class="col-md-6">
                <div class="card mb-6">
                    <div class="card-body" id="explanation">
                        <h2>Levels Explained</h2>
                        <p class="card-text">
                            <li>Level 1: Family friendly adventure</li>
                            <li>Level 2: For your average joe</li>
                            <li>Level 3: For your average joe who wants a challenge</li>
                            <li>Level 4: Only for the intermediate climber</li>
                            <li>Level 5: Only for the expereinced climber</li>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %} 