{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if munro %}
        {{ munro.name }}
    {% else %}
        Unknown Munro
    {% endif %}
{% endblock %}

{% block body_block %}
    <div class="p-2">
        <p class="card-text"></p>
    </div>
    
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="card mb-6">
                    <div class="card-body">
                        <h2>Description</h2>
                        <p class="card-text">
                            {{ munro.description }}  
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-6">
                    <div class="card-body">
                        <h2>Map</h2>
                        <p class="card-text">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d69913.5805281933!2d-5.071528499252209!3d56.79791289676395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x488932978af1e5f3%3A0x6e948b77ffad9a71!2sBen%20Nevis!5e0!3m2!1sen!2skr!4v1628144434805!5m2!1sen!2skr" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <section id="gallery">
        <div class="container p-2">
           <div class="row">
                {% if images %}
                    {% for image in images %} 
                        {% if image.munro == munro %}
                            <div class="col-lg-4 mb-4">
                                <div class="card">
                                    <img class="card-img-top" src="/static/images/{{ image.name }}" alt="">
                                </div>
                            </div>
                        {% endif %} 
                    {% endfor %}
                {% else %} 
                    <strong>No images currently in munro.</strong>
                {% endif %} 
           </div>
        </div>
    </section>

{% endblock %} 