
{% extends 'rango/base.html' %}
{% load staticfiles %}
>
{% block title_block %}
    PhotoGalleryPage
{% endblock %}

{% block body_block %}
    <section id="gallery">
        <div class="container p-2">
        <div class="row">
            <!-- populates page with images, along with their relevant descriptions -->
                {% if images %}

                    {% for image in images %} 

                            <div class="col-lg-4 mb-4">
                                <div class="card-body">
                                    <img class="card-img-top img-thumbnail" src="/static/images/{{ image.name }}" alt="">
                                    <h5 class="card-title">{{image.title}}</h5>
                                    <p class="card-text">{{image.description}}</p>
                                   
                                    <!-- Onloy show like button / download button if user is logged in -->
                                    {% if user.is_authenticated %}
                                        <!-- Donwload button -->
                                        <a href="/static/images/{{ image.name }}" class="btn btn-outline-success btn-sm" download="{{ image.name }}.jpg">Download</a>
                           
                                        <button id="like_btn_image"
                                        data-imagename="{{ image.name }}"
                                        data-username="{{ user.username }}"
                                        data-likeunlike="like"
                                        class="btn btn-outline-danger btn-sm"
                                        type="button">
                                        <span class="far fa-heart"></button>        
         
                                    {% endif %}
                                    <!-- Can see like count even if not logged on -->
                                    <strong id="like_count_image">{{ image.likes }}</strong> likes
                                </div>
                            </div>                
                    {% endfor %}

                {% else %} 
                    <strong>No images currently in database.</strong>
                {% endif %} 
        </div>
        </div>
    </section>
{% endblock %}
