{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Profile for {{ selected_user.username }}
{% endblock %}

{% block css %}  
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">{{ selected_user.username }}'s Profile</h1>
    </div>
</div>

<div class="container">
    <div  id = "picture">
        {% if hiker_profile.picture %}
        <img src="{{ MEDIA_URL }}{{ hiker_profile.picture }}" width="300" height="300" alt="{{ selected_user.username }}'s profile image" class="center"/>
        {% else %}
        <img  src="/static/images/ben_lomond1.jpg" width="300" height="300" alt="Placeholder image" class="center" />
        {% endif %}
        <br />
        <div>
            {% if selected_user == user %}
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                {{ profile_form.as_p }}

                <input type="submit" value="Update Picture" name = "Update Picture" />
            </form>
            {% endif %}
        
        </div>
    <div>
    </div id = "bagged">
        
        <br/>

        {% if selected_user == user %}  


            <label for="Munros">Bag a munro:</label>
            <select id="munros" name="munro">

            {% for munro in munros %}
            <option value = "{{ munro }}"> {{ munro }}</option>
            {% endfor %}


            </select>



            <form method="post" action="." >
                {% csrf_token %}
                {{ bagged_form.as_p }}

                <input type="submit" value="Update bagged munros" name = "Update Bagged" />
            </form>

            <br>

            <p>
                <strong>Tracker: </strong>
                {{ hiker_profile.bagged }}
            </p>
            
            {% else %}
            <p>
                <strong>Tracker: </strong>
                {{ hiker_profile.bagged }}
            </p>
        {% endif %}

    </div>
</div>
{% endblock %}