{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Search Munros
{% endblock %}

{% block body_block %}


        {% if searched %}
            <h3> You searched for: {{ searched }}</h3>
            <br/>

            {% if munros %}
                <ul>
                {% for munro in munros %}
                    <li><a href="{% url 'rango:goto' %}?page_name={{ munro.slug }}">{{ munro.name }}</a>
                {% endfor %}
                </ul>
            {% else %}
                <h3><a href="{% url 'rango:search' %}"> Munro not found, search the web instead!</a></h3>
            {% endif %}

        {% else %}
            <h3> You didn't enter a search term</h3>
        {% endif %}
       
    

{% endblock %}